In [1]:
import pandas as pd
import numpy as np

In [2]:
years = ['2019', '2020']
months = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12']
data_df = pd.DataFrame()
for year in years:
    for month in months:
        if year == '2019':
            data_path = "Resources/JC Data/JC-" + year + month + "-citibike-tripdata.csv"
            aux_df = pd.read_csv(data_path)
            data_df = data_df.append(aux_df)
        elif (year == '2020') & (month != '12'):
            data_path = "Resources/JC Data/JC-" + year + month + "-citibike-tripdata.csv"
            aux_df = pd.read_csv(data_path)
            data_df = data_df.append(aux_df)
data_df

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21270,849,2020-11-30 23:08:40.1870,2020-11-30 23:22:50.0830,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,44742,Subscriber,1996,2
21271,370,2020-11-30 23:09:27.0180,2020-11-30 23:15:37.3330,3195,Sip Ave,40.730897,-74.063913,3679,Bergen Ave,40.722104,-74.071455,17450,Subscriber,1999,1
21272,341,2020-11-30 23:37:53.0580,2020-11-30 23:43:34.1200,3187,Warren St,40.721124,-74.038051,3202,Newport PATH,40.727224,-74.033759,42528,Subscriber,1991,1
21273,5272,2020-11-30 23:49:31.8650,2020-12-01 01:17:24.2540,3679,Bergen Ave,40.722104,-74.071455,3679,Bergen Ave,40.722104,-74.071455,14657,Customer,1990,1
21274,222,2020-11-30 23:56:52.8310,2020-12-01 00:00:34.8660,3205,JC Medical Center,40.716540,-74.049638,3276,Marin Light Rail,40.714584,-74.042817,42601,Subscriber,1990,1

In [3]:
data_df['gender'].replace(0, 'Unknown',inplace=True)
data_df['gender'].replace(1, 'Male',inplace=True)
data_df['gender'].replace(2, 'Female',inplace=True)
data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown

In [4]:
data_df['date'] = data_df['starttime'].str[:10]
data_df.sort_values('starttime')
data_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender,date
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,Male,2019-01-01
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,Female,2019-01-01
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,Male,2019-01-01
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,Unknown,2019-01-01
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,Unknown,2019-01-01

In [5]:
data_df.to_csv(r'Clean Data/Citibike_Data.csv')

In [6]:
start_data = data_df.copy()
start_data = start_data.drop(['tripduration', 'starttime', 'stoptime', 'end station name', 'end station longitude',
                         'bikeid', 'usertype', 'birth year', 'gender', 'date', 'end station id', 'end station latitude'], 1)

start_data = start_data.groupby(['start station id', 'start station name', 'start station latitude', 'start station longitude']).size().reset_index(name='start count')
start_data = start_data.sort_values('start count')
start_data = start_data.rename(columns={'start station id': 'station id', 'start station name': 'station name',
                                       'start station latitude': 'station latitude', 'start station longitude': 'station longitude'})
start_data

,station id,station name,station latitude,station longitude,start count
41,3426,JCBS Depot,40.709651,-74.068601,44
9,3195,Sip Ave,40.730743,-74.063784,2193
51,3694,Jackson Square,40.711130,-74.078900,2449
5,3191,Union St,40.718211,-74.083639,2602
14,3201,Dey St,40.737711,-74.066921,2781
40,3281,Leonard Gordon Park,40.745910,-74.057271,3377
23,3212,Christ Hospital,40.734786,-74.050444,4000
11,3196,Riverview Park,40.744319,-74.043991,4049
36,3277,Communipaw & Berry Lane,40.714358,-74.066611,4073
47,3677,Glenwood Ave,40.727551,-74.071061,4102
26,3220,5 Corners Library,40.734961,-74.059503,4271
0,3183,Exchange Place,40.716247,-74.033459,5304
52,3791,Hoboken Ave at Monmouth St,40.735208,-74.046964,5488
12,3198,Heights Elevator,40.748716,-74.040443,5743
18,3206,Hilltop,40.731169,-74.057574,5969
29,3268,Lafayette Park,40.713464,-74.062859,6456
48,3678,Fairmount Ave,40.725726,-74.071959,6573
49,3679,Bergen Ave,40.722104,-74.071455,6684
42,3481,York St,40.716490,-74.041050,6771
19,3207,Oakland Ave,40.737604,-74.052478,7014
39,3280,Astor Place,40.719282,-74.071262,7188
21,3210,Pershing Field,40.742677,-74.051789,8041
43,3483,Montgomery St,40.719420,-74.050990,8198
7,3193,Lincoln Park,40.724605,-74.078406,8357
27,3225,Baldwin at Montgomery,40.723659,-74.064194,8659
25,3214,Essex Light Rail,40.712774,-74.036486,10501
46,3640,Journal Square,40.733670,-74.062500,10523
50,3681,Grand St,40.715178,-74.037683,11189
38,3279,Dixon Mills,40.721630,-74.049968,11217
33,3273,Manila & 1st,40.721651,-74.042884,12477
37,3278,Monmouth and 6th,40.725685,-74.048790,12654
8,3194,McGinley Square,40.725340,-74.067622,12704
20,3209,Brunswick St,40.724176,-74.050656,13707
31,3270,Jersey & 6th St,40.725289,-74.045572,14159
32,3272,Jersey & 3rd,40.723332,-74.045953,14907
30,3269,Brunswick & 6th,40.726012,-74.050389,14922
34,3275,Columbus Drive,40.718355,-74.038914,15614
24,3213,Van Vorst Park,40.718489,-74.047727,15753
1,3184,Paulus Hook,40.714145,-74.033552,16950
17,3205,JC Medical Center,40.716540,-74.049638,17216
22,3211,Newark Ave,40.721525,-74.046305,18244
44,3638,Washington St,40.724294,-74.035483,18329
4,3187,Warren St,40.721124,-74.038051,18812
28,3267,Morris Canal,40.712419,-74.038526,18957
2,3185,City Hall,40.717733,-74.043845,19549
53,3792,Columbus Dr at Exchange Pl,40.716870,-74.032810,21270
6,3192,Liberty Light Rail,40.711242,-74.055701,25141
35,3276,Marin Light Rail,40.714584,-74.042817,27322
15,3202,Newport PATH,40.727224,-74.033759,29870
10,3195,Sip Ave,40.730897,-74.063913,29948
45,3639,Harborside,40.719252,-74.034234,30243
13,3199,Newport Pkwy,40.728745,-74.032108,30296
16,3203,Hamilton Park,40.727596,-74.044247,38379
3,3186,Grove St PATH,40.719586,-74.043117,68816

In [7]:
end_data = data_df.copy()
end_data = end_data.drop(['tripduration', 'starttime', 'stoptime', 'start station name', 'start station longitude',
                         'bikeid', 'usertype', 'birth year', 'gender', 'date', 'start station id', 'start station latitude'], 1)

end_data = end_data.groupby(['end station id', 'end station name', 'end station latitude', 'end station longitude']).size().reset_index(name='end count')
end_data = end_data.sort_values('end count')
end_data = end_data.rename(columns={'end station id': 'station id', 'end station name': 'station name',
                                       'end station latitude': 'station latitude', 'end station longitude': 'station longitude'})
end_data

,station id,station name,station latitude,station longitude,end count
57,495,W 47 St & 10 Ave,40.762699,-73.993012,1
67,524,W 43 St & 6 Ave,40.755273,-73.983169,1
66,523,W 38 St & 8 Ave,40.754666,-73.991382,1
65,519,Pershing Square North,40.751873,-73.977706,1
64,518,E 39 St & 2 Ave,40.747804,-73.973442,1
...,...,...,...,...,...
147,3639,Harborside,40.719252,-74.034234,30267
96,3202,Newport PATH,40.727224,-74.033759,30407
94,3199,Newport Pkwy,40.728745,-74.032108,30596
97,3203,Hamilton Park,40.727596,-74.044247,36524
84,3186,Grove St PATH,40.719586,-74.043117,83956

In [8]:
stations_df = pd.merge(start_data, end_data, how='outer', on=['station name', 'station id', 'station longitude', 'station latitude'])
stations_df = stations_df.replace(np.nan, 0)
stations_df

,station id,station name,station latitude,station longitude,start count,end count
0,3426,JCBS Depot,40.709651,-74.068601,44.0,155
1,3195,Sip Ave,40.730743,-74.063784,2193.0,2085
2,3694,Jackson Square,40.711130,-74.078900,2449.0,2336
3,3191,Union St,40.718211,-74.083639,2602.0,3000
4,3201,Dey St,40.737711,-74.066921,2781.0,3375
...,...,...,...,...,...,...
172,173,Broadway & W 49 St,40.760683,-73.984527,0.0,10
173,3002,South End Ave & Liberty St,40.711512,-74.015756,0.0,10
174,3992,W 169 St & Fort Washington Ave,40.842842,-73.942125,0.0,16
175,327,Vesey Pl & River Terrace,40.715338,-74.016584,0.0,24
176,514,12 Ave & W 40 St,40.760875,-74.002777,0.0,25

In [9]:
stations_df.to_csv(r'Clean Data/Stations_Data.csv')